:root {
  --orange: #ffa500;
  --navColor: #333333;
  --white: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.1s ease-out;
}

*::selection {
  background-color: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 10%;
}

.btn {
  width: 100%;
  display: block;
  font-size: 2rem;
  border: 0.2rem solid var(--orange);
  color: var(--white);
  background-color: var(--orange);
  padding: 0.8rem 0;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: var(--orange);
  background-color: rgba(255, 165, 0, 0.2);
  background-clip: border-box;
}

.title {
  text-align: center;
  padding: 3rem;
}

.title span:not(.title-space) {
  font-size: 3rem;
  padding: 0 1rem;
  color: var(--orange);
  background-color: rgba(255, 165, 0, 0.2);
  border-radius: 0.5rem;
  font-weight: 600;
}

.title .title-space {
  display: inline-block;
  width: 2rem;
}

.d-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* start style for header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--navColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
}

header .logo {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 800;
  font-size: 2.5rem;
}

header .logo::first-letter {
  color: var(--orange);
}

header .navbar a {
  color: var(--white);
  font-size: 2rem;
  padding: 0.5rem;
}

header .navbar a:hover {
  color: var(--orange);
  transition: 0.2s ease-in-out;
}

header .icons i {
  color: var(--white);
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}

header .icons i:hover {
  color: var(--orange);
  transition: 0.2s ease-in-out;
}

header .search-bar--container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 101;
  align-items: center;
  display: flex;
  border-top: 1px solid gray;
  background-color: var(--navColor);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar--container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar--container #search-bar {
  font-size: 1.7rem;
  text-transform: none;
  width: 100%;
  margin: 2rem 0 2rem 2rem;
  padding: 1rem;
  color: #333;
  border-radius: 0.5rem;
}

header .search-bar--container label {
  color: var(--white);
  font-size: 3rem;
  cursor: pointer;
  padding: 0 2rem;
}

header .search-bar--container label:hover {
  color: var(--orange);
  transition: 0.2s ease-in-out;
}

header .login-form--container {
  position: fixed;
  top: -150%;
  left: 0;
  z-index: 102;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}

header .login-form--container.active {
  top: 0;
}

header .login-form--container form {
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  width: 40%;
}

header .login-form--container form h3 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

header .login-form--container form .box {
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding: 1rem;
  height: 4rem;
  text-transform: none;
  margin: 1rem 0;
}
/* header .login-form--container form */

header .login-form--container form label {
  font-size: 1.5rem;
  opacity: 0.8;
}

header .login-form--container form p {
  font-size: 1.6rem;
  opacity: 0.8;
}

header .login-form--container form p a {
  color: var(--orange);
}

header .login-form--container form p a:hover {
  color: #000;
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}

header .login-form--container #form-close {
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: 101;
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}

header #menu-bar {
  color: var(--white);
  font-size: 2rem;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  display: none;
}
/* end style for header */

/* start style for section home */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}

.home .content h3 {
  color: var(--white);
  font-size: 4.5rem;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  color: var(--white);
  font-size: 2.5rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

a.btn {
  width: 20rem;
  margin: auto;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.home .controls {
  position: absolute;
  top: 80%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
}

.home .controls .vid-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--white);
  padding: 1rem 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem;
}

.home .controls .vid-btn.active {
  background: var(--orange);
}
/* end style for section home */

/* start style for section book  */

.book-container {
  display: flex;
  flex-direction: row;
}

.book-container .image {
  flex-basis: 50%;
}

.book-container .form {
  padding: 2rem;
  flex-basis: 50%;
  align-self: stretch;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem 1rem rgb(0 0 0 / 20%);
}

.book-container .form form label {
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.7;
}

.book-container .form form input {
  font-size: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0;
  text-transform: none;
}

.book-container .form form input:last-child {
  text-transform: capitalize;
  font-size: 2rem;
}
/* end style for section book  */

/* start style for section packages  */

.package-container .card {
  width: 32%;
  height: 48rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0rem 0.3rem 1rem rgb(0 0 0 / 20%);
}

.package-container .card:hover {
  transition: 0.5s;
  box-shadow: 0rem 0rem 1rem 0.7rem rgb(0 0 0 / 20%);
}

.package-container .card:hover img {
  transform: scale(1.3);
  transition: 0.5s;
}

.card .card-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-content {
  padding: 2rem;
}

.card .card-content h3 {
  font-size: 2rem;
  margin: 0;
}

.card .card-content h3 i {
  color: var(--orange);
}

.card .card-content p {
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 0;
  padding: 1rem 0;
}

.card .stars i {
  font-size: 2rem;
  color: var(--orange);
}

.card .price {
  font-size: 2rem;
  padding-top: 1rem;
}

.card .price span {
  text-decoration: line-through;
  font-size: 1.5rem;
  opacity: 0.7;
}

#packages a.btn {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
/* end style for section packages  */

/* start style for service  */

.service-container .box {
  width: 32%;
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.service-container .box:hover {
  box-shadow: 0rem 0.3rem 1rem rgb(0 0 0 / 20%);
}

.service-container .box i {
  font-size: 5rem;
  color: var(--orange);
}

.service-container .box h2 {
  font-size: 2.5rem;
}

.service-container .box p {
  font-size: 1.5rem;
}
/* end style for service  */

/* start style for gallery  */
.gallery-container .box {
  height: 25rem;
  flex: 1 1 32%;
  border: 1rem solid var(--white);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem 1rem rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
}

.gallery-container .box .content {
  position: absolute;
  top: -120%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}

.gallery-container .box .content h3 {
  color: var(--orange);
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}
.gallery-container .box .content p {
  color: var(--white);
  font-size: 1.5rem;
}

#gallery a.btn {
  font-size: 1.5rem;
}

.gallery-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container .box:hover .content {
  top: 0;
  left: 0;
}
/* end style for gallery  */
